body {
    background-color: #61759e;
}

nav {
    margin-bottom: -3px;
}

nav .nav-tabs, nav > *, nav .nav-tabs .nav-link.active, nav .nav-tabs .nav-item.show .nav-link {
    border: 0;
    background-color: transparent;
}

nav a {
    color: white;
}

.bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-main {
    background-image: url("/images/lamountains-bg-main.png");
}

.bg-one {
    background-image: url("/images/lamountains-bg-one.png");
}

.bg-two {
    background-image: url("/images/lamountains-bg-two.png");
}

.nav-tabs {
    display:none;
}

.card {
    height: 710px;
}

@media(min-width:768px) {
    .nav-tabs {
        display: flex;
    }
    
    .card {
        border: none;
    }

    .card .card-header {
        display:none;
    }  

    .card .collapse{
        display:block;
    }
}

@media(max-width:767px){
    .tab-content > .tab-pane {
        display: block !important;
        opacity: 1;
    }
}

div.step {
    margin-top: 2em;
    margin-right: 6em;
}

h1 {
    color: #698397;
}

h1.step {
    line-height: .8;
}

h2 {
    color: #404f6c;
}

h2.step {
    position: absolute;
    top: 1em;
    left: 4em;
}